.App {
    background-color: #f2f2f2;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 60px 0;
    box-sizing: border-box;
    color: #000;
}

.app-header {
    font-size: 2.5em;
    color: #000;
    margin-bottom: 30px;
}

.app-footer {
    font-size: 0.75em;
    position: fixed;
    bottom: 0;
    left: 20px;
    color: #000;
    font-family: 'Courier New', Courier, monospace;
}

.add-button, .done-button, .delete-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.add-button {
    background-color: green;
}

.add-button:hover {
    background-color: darkgreen;
}

.done-button {
    background-color: blue;
}

.done-button:hover {
    background-color: darkblue;
}

.delete-button {
    background-color: red;
}

.delete-button:hover {
    background-color: darkred;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 10px auto;
}

.task-text {
    margin-right: 20px;
}
